@page "/"
@inherits Base
@attribute [Authorize]
@inject FluentLocalizationService Tr
@inject IDbContextFactory<RybaContext> RybaCtxFac
@inject NavigationManager Nav
<AuthorizeView>
	<Authorized>
		<h2>@Tr["web-welcome"]</h2>
		<span>@Tr["web-select-language"]</span>
		<select aria-label="@Tr["web-select-language"]"
			class="form-select mt-1" value="@CultureInfo.CurrentCulture" 
            @onchange="@(async e => await UpdateLang((string) e.Value!))">

			@foreach (var c in Tr.AvailableLanguages) {
				<option value="@c">@c.NativeName (@c.Name)</option>
			}
		</select>
	</Authorized>
</AuthorizeView>

@code {
   
}