@inject FluentLocalizationService Tr

<AuthorizeView>
    <Authorized>
        <div class="shadow-lg d-flex flex-column flex-shrink-0 p-3 text-white bg-black" style="width: 30%; max-width:270px; min-width:185px">
            <a href="/" class="d-flex align-items-center text-white text-decoration-none">
                <img height=32 src="/logo.svg" class="oi">
                <span class="fs-4 ms-2">@Tr["name"]</span>
            </a>
            <hr />
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <NavLink class="nav-link text-white" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-cog" aria-hidden="true"></span> @Tr["web-configuration"]
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-white" href="pins">
                        <span class="oi oi-pin" aria-hidden="true"></span> @Tr["web-pins"]
                    </NavLink>
                </li>
            </ul>
            <hr />

            <div class="dropdown">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="@context.User.FindFirst("urn:discord:avatar:url")?.Value" alt="" width="32" height="32" class="rounded-circle me-2">
                    <span class="text-truncate">
                        @context.User.FindFirst(ClaimTypes.Name)?.Value&num;@context.User.FindFirst("urn:discord:user:discriminator")?.Value
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser" style="">
                    <li>
                        <a class="dropdown-item" href="Account/Logout">
                            <span class="oi oi-account-logout"></span>
                            @Tr["web-sign-out"]
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </Authorized>
</AuthorizeView>
